catfish
chromium
dconf
dwm
Electron
electron-ssr
falkon
fcitx
gconf
GIMP
google-chrome
gtk-2.0
gtk-3.0
jesseduffield
Kvantum
manjaro
midori
mimeapps.list
Mousepad
pulse
qt5ct
SogouPY
user-dirs.dirs
.user-dirs.dirs.un~
user-dirs.locale
vlc
nvim/.bakup
nvim/tmp
*.un~
